.top-panel {
    background-color: transparent;
    height: 50px;
    width: 600px;
    margin: 0 auto;
    border-radius: 20%;
}

.answered, .unanswered, .all {
    width: 35%;
    height: 100%;
    font-size: 16px;
    background-color: rgba(255, 255, 0, 0.3);
    color: green;
    font-weight: bolder;
    border-radius: 20%;
    margin: 10px auto;
}

.all {
    width: 30%;
}

.main-container {
    background-color: rgba(30, 30, 30, 0.2);
}

.view {
    margin: 0 0 0 20%;
    background-color: transparent;
    color: tomato;
}

.option-one {
    text-align: center;
    color: #969696;
}

.asked-by > span {
    color: #969696 !important;
}

.option-btn {
    display: flex;

}

.option-btn > div {
    margin-top: 10px;
    background-color: yellow;
    width: 70px;
    height: 50px;
    display: flex;
    align-content:center;
    justify-content: center;
    border: solid 1px rgba(47, 69, 108, 1);
}

.option-btn > div > p {
    padding-top: 10px;
    color: tomato;
    font-size: 22px;
    font-weight: bolder;
}

.option-btn .btn {
    margin: 10px 0 0 0 !important;
    width: 100%;
}

.answered-poll {
    margin-top: 20vh;
}

.poll-info > p {
    color: tomato;
    font-weight: bolder;
    font-size: 14px;
}

.selected {
    cursor:not-allowed;
    background-color: green !important;   
}

.chart {
    margin-top: 30px;
}

.sltd, .norm {
    color: green;
    font-weight: bolder;
    font-size: 12px;
    margin-bottom: 30px;
}

.norm {
    color: red !important;
}

.add {
    left: 35%;
}

.adding-message, .warning-message, .error-message {
    margin-left: 25%;
    font-size: 16px;
}

.adding-message {
    color: tomato;
    margin-left: 35%;
}

.error-message {
    color: red;
}

.warning-message {
    color: crimson;
}