:root {
  font-size: 16px;
}

body, html {
  background-color: rgb(47, 69, 108);
  background-repeat: no-repeat;
  font-family: "Ubuntu";
}

.navbar-nav {
  width: 100%;
}

.collapse {
  position: relative;
}

a {
  text-decoration: none;
  color: tomato;
}

a:hover {
  color: green;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: yellow;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
  color: tomato;
}

.active {
  color: tomato;
  font-weight: bolder;
  border-bottom: 3px solid green;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.nav li {
  font-size: 1.2rem;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.avatar img {
  height: 100%;
  width: auto;
}

.poll {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
  background-color: white;
}

.poll-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Hacky but less typing in the video */
.poll-info > div > span {
  font-weight: bold;
  font-size: 1.2rem;
}
.poll-info > div > p {
  font-size: 1rem;
  margin: 10px 0;
}
.date-time {
  margin-top: 5px;
  color: #969696;
}
.poll-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.poll-icons > div {
  margin: 0 auto;
  text-align: center;
}
.poll-icons > div > p {
  font-size: 0.8rem;
}
.poll-icons > span {
  color: #969696;
  margin: 0 15px 0 5px;
  font-size: 18px !important;
}
.poll-icon {
  font-size: 16px;
  color: #697784;
}
.poll-icon:hover {
  color: #00b5d6;
  cursor: pointer;
}
.likes-replies {
  display: flex;
  align-items: center;
}
.unlike {
  color: tomato;
}
.uncomment {
  color: green;
}
.liked {
  margin-bottom: 0px;
  color: #697784;
}
.liked-icon {
  font-size: 16px;
  color: #697784;
}
.poll-image {
  width: 400px;
  height: auto;
  margin: 0 auto;
}
.commented {
  margin-left: 70%;
  margin-bottom: 0px;
  font-weight: normal;
  color: #697784;
}
.replying-to {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: #969696;
  cursor: pointer;
  font-style: italic;
}
.icon-button {
  background: transparent;
  border: none;
}
.icon-button > span {
  color: #969696;
}
.icon-button:nth-of-type(1) {
  margin-right: 75%;
}

.new-poll {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}

.poll-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #C3392A;
}

.topnav a:hover {
  text-decoration: none;
  border-bottom: 3px solid tomato;
}

.text-white {
  margin: 0px !important;
  color: green;
  padding: 5px !important;
  width: 100px !important;
}

.signin, .signout {
  float: right !important;
}

.navbar {
  background-color: yellow !important;
}

.login-again {
  margin-left: 40%;
  color: white;
}

.image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0px;
  float: right !important;
}

.image img {
  width: 100%;
  height: 100%;
}

.dropd {
  float: right !important;
  margin-top: 5px;
}

.sign-up-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0px;
  margin-left: 43%;
  margin-bottom: 20px;
}

.sign-up-image img {
  width: 100%;
  height: 100%;
}

.upload {
  color: yellow;
}

.update {
  margin-bottom: 20px;
  color: tomato;
  display: flex;
}

.input-group input {
  height: 40px;
}